<!-- Contact -->
<div class="mb4">
  <h4 class="f3 b lh-title mb3 tc">Contact Form</h4>

  <form name="contact" netlify>
    <div class="flex-l mhn1-l">
      <!-- Name -->
      <div class="pr1-l w-50-l">
        <fieldset>
          <input type="text" id="name" name="name" placeholder="Name" class="w-100 mb2">
          <label for="name">Name</label>
        </fieldset>
      </div>
      <!-- Phone -->
      <div class="pl1-l w-50-l">
        <fieldset>
          <input type="tel" id="phone" name="phone" placeholder="Phone" class="w-100 mb2">
          <label for="phone">Phone</label>
        </fieldset>
      </div>
    </div>

    <!-- Email -->

    <fieldset>
      <input type="email" id="email" name="email" placeholder="Email" class="w-100 mb2">
      <label for="email">Email</label>
    </fieldset>

    <!-- Subject -->
    <fieldset>
      <select id="subject" name="subject" class="w-100 mb2">
        <option value="">Please select...</option>
        <option>ACLS</option>
        <option>BLS</option>
        <option>PALS</option>
        <option>Heartsaver First Aid/CPR/AED</option>
        <option>TNCC</option>
        <option>CV/Resume Development</option>
        <option>Leadership/Professional Development</option>
        <option>Vascular Access Program</option>
        <option>SRNA Program</option>
        <option>PCT Program</option>
        <option>Cardiac Telemetry Course</option>
        <option>Board Certification Review Course</option>
        <option>Research Paper Review</option>
        <option>Other</option>
      </select>
      <label for="subject">Subject:</label>
    </fieldset>

    <!-- Message -->
    <fieldset>
      <textarea id="message" name="message" placeholder="Your message" rows="8" cols="80" class="w-100"></textarea>
      <label for="message">Your message</label>
    </fieldset>
    <!-- Button -->
    <div class="tc">
      <button type="submit" class="btn w-100 w-auto-ns raise">Submit</button>
    </div>
  </form>
</div>
