<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">


		<div class="flex-ns justify-between">

			<p>Copyright 2019 Noble Nurses, LLC</p>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Find Noble Nurses on:</h3>
				<ul class="mhn2">
					<li class="dib ph2 raise">
						<a href="https://www.facebook.com/ConciergeEducation" class="link db relative br-100 pa2">
							<i class="fab fa-facebook-square white dib f3"></i>
						</a>
					</li>
					<li class="dib ph2 raise">
						<a href="https://g.page/BLSLexington?share" class="link db relative br-100 pa2">
							<i class="fab fa-google white dib f3"></i>
						</a>
					</li>
					<li class="dib ph2 raise">
						<a href="https://www.yelp.com/biz/noble-nurses-lexington-2" class="link db relative br-100 pa2">
							<i class="fab fa-yelp white dib f3"></i>
						</a>
					</li>
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
