<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">


		<div class="flex-ns flex-column">

			<div class="tc pa3">
				<a
					href="https://www.bbb.org/us/ky/lexington/profile/cpr-certification/noble-nurses-0392-9115038#bbbseal"><img
						src="img/bbb-accredited-business.png" style="width: 250px; height: 94px;" /></a>
			</div>


			<div class="tc pa3">
				<h3 class="f4 b lh-title mb2 primary">Find Noble Nurses on:</h3>
				<ul class="mhn2">
					<li class="dib ph2 raise">
						<a href="https://www.facebook.com/NobleNursesLLC" class="link db relative br-100 pa2">
							<i class="fab fa-facebook-square white dib f3"></i>
						</a>
					</li>
					<li class="dib ph2 raise">
						<a href="https://g.page/BLSLexington?share" class="link db relative br-100 pa2">
							<i class="fab fa-google white dib f3"></i>
						</a>
					</li>
					<li class="dib ph2 raise">
						<a href="https://www.yelp.com/biz/noble-nurses-lexington-2" class="link db relative br-100 pa2">
							<i class="fab fa-yelp white dib f3"></i>
						</a>
					</li>
				</ul>
			</div>

			<div class="tc pa1" style="font-size: .65rem;">
				<a class="no-underline" href="https://kbn.ky.gov/FTP/Ce.pdf" class="">Kentucky Board of Nursing (KBN) – Approved CE Provider<br>
				Provider # 6-0028</a>
			</div>
			<div class="tc pa1" style="font-size: .65rem;">
				<a class="no-underline" href="http://www.kcpe.ky.gov/Prop_Ed_Schools_Licensed_by_KCPE.pdf">Kentucky Commission on Proprietary Education<br>
				Authorized Post-Secondary Institution<br>
				Resident School License #: KY-R-0509<br></a>
			</div>

			<div class="tc pa3" style="font-size: .65rem;">
				Copyright © 2023 Noble Nurses, LLC
			</div>
		</div>




	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
