<div class="flex">
    <div class="w-60 bg-center cover" style="background-image: url('/img/cpr-manikin.jpg')">

    </div>
    <div class="flex flex-column w-40">
        <a href="/schedule" style="display: block;"><h1 class="white f-headline-ns f2 b tc pa3" style="background-color: #1a9ad6">BLS</h1></a>
        <a href="/schedule" style="display: block;"><h1 class="white f-headline-ns f2 b tc pa3" style="background-color: #ed2027">ACLS</h1></a>
        <a href="/schedule" style="display: block;"><h1 class="white f-headline-ns f2 b tc pa3" style="background-color: #812a8f">PALS</h1></a>
    </div>

</div>
