



<nav class="w-100 bg-black tc white z-3 shadow-5 divider-grey ">

  <!-- Logo -->

  <div class="flex flex-column flex-row-l items-center justify-center-l mb3">
      <a href="/" class="pa2 db mr0 h-100 w3 flex-none">
          <img src="/img/noble-nurses-logo-200x200.png" alt="Noble Nurses LLC logo" class="br0 db mb0 w-100"/>
      </a>
      <div class="flex flex-column white pa0 ma0 tl-l">
          <div class="b f4">Noble Nurses, LLC</div>
          <div class="f6">Concierge Education For The Busy Professional</div>
          <div class="f6">(859) 333-7754 &nbsp; <a href="mailto:Chris.Noble@NobleNurses.net" class="no-underline">Chris.Noble@NobleNurses.net</a></div>
      </div>
  </div>


  <input type="checkbox" id="burger" class="absolute top-2 right-1 dn">
  <label for="burger" class="dn-l pointer top-1 right-1 o-100 bg-black absolute" style="left: auto; cursor: pointer; pointer-events: auto;"><i class="fa fa-bars white dib f2"></i></label>
  <ul class="overflow-hidden menu db-l w-100 list tc pl0 mv0 f4 fw3 f6-l">
      <li class="ph3 di-l pv2 tl"><a href="/" class="no-underline pb1">Home</a></li>
      <li class="ph3 di-l pv2 tl"><a href="/aha-cpr-bls-acls-pals-lexington-kentucky" class="no-underline pb1">American Heart Association</a></li>
      <li class="ph3 di-l pv2 tl"><a href="/american-red-cross-cpr-lexington-kentucky" class="no-underline pb1">American Red Cross</a></li>
      <li class="ph3 di-l pv2 tl"><a href="/schedule" class="no-underline pb1">Schedule</a></li>
      <li class="ph3 dn-l pv2 tl"><a href="/additional-services" class="no-underline pb1">Additional Services</a></li>
      <li class="ph3 dn-l pv2 tl"><a href="/about" class="no-underline pb1">About Noble Nurses</a></li>
      <li class="ph3 dn-l pv2 tl"><a href="/testimonials" class="no-underline pb1">Customer Testimonials</a></li>
      <li class="ph3 di-l pv2 tl"><a href="/contact" id="contact-link" class="no-underline pb1">Contact</a></li>
      <li class="ph3 dn di-l pv2 tl"><a href="/more" class="no-underline pb1">More...</a></li>
  </ul>
</nav>
