



<nav class="w-100 bg-black tc white  z-3 shadow-5 divider-grey ">

  <!-- Logo -->

  <div class="flex flex-wrap justify-center">
      <a href="/" class="pa2 db mr0 h-100 w3 flex-none">
          <img src="/img/noble-nurses-logo-200x200.png" alt="Noble Nurses LLC logo" class="br0 db mb0 w-100"/>
      </a>
      <div class="flex flex-column white pa0 ma0 tl-ns">
          <div class="b f4">Noble Nurses, LLC</div>
          <div class="f6">Concierge Education For The Busy Professional</div>
          <div class="f6">(859) 333-7754 &nbsp; <a href="mailto:Chris.Noble@NobleNurses.net" class="no-underline">Chris.Noble@NobleNurses.net</a></div>
      </div>
  </div>


  <input type="checkbox" id="burger" class="absolute top-2 right-1 dn">
  <label for="burger" class="dn-l pointer top-1 right-1 o-100 bg-black absolute" style="left: auto; cursor: pointer; pointer-events: auto;"><i class="fa fa-bars white dib f2"></i></label>
  <ul class="overflow-hidden menu db-l w-100 list tc pl0 pt3 mv0 f4 fw3 f6-l">
      <li class="ph3 di-l pt4 pb2 tl pv0-l"><a href="/" class="no-underline">Home</a></li>
      <li class="ph3 di-l pv2 tl pv0-l"><a href="/aha-cpr-bls-acls-pals-lexington-kentucky" class="no-underline">American Heart Association</a></li>
      <li class="ph3 di-l pv2 tl pv0-l"><a href="/american-red-cross-cpr-lexington-kentucky" class="no-underline">American Red Cross</a></li>
      <li class="ph3 di-l pv2 tl pv0-l"><a href="/schedule" class="no-underline">Schedule</a></li>
      <li class="ph3 di-l pv2 tl pv0-l"><a href="/contact" id="contact-link" class="no-underline">Contact</a></li>
      <li class="ph3 di-l pt2 pb3 tl pv0-l"><a href="/more" class="no-underline">More...</a></li>
  </ul>
</nav>
