<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-black divider-grey relative">
	<!-- Logo -->
    <div class="flex items-center">
        <a href="/" class="pa2 db mr0 h-100 w3 flex-none">
            <img src="/img/noble-nurses-logo-200x200.png" alt="Noble Nurses LLC logo" class="br0 db mb0 w-100"/>
        </a>
            <div class="flex flex-column white pa0 ma0">
                <div class="b f4">Noble Nurses, LLC</div>
                <div class="f6">Concierge Education For The Busy Professional</div>
                <div class="f6">(859) 333-7754 &nbsp; Chris.Noble@NobleNurses.net</div>
            </div>
    </div>

	<!-- Primary Nav -->
	<ul class="flex b white">
    <li><a href="/" class="pa3 no-underline db">Home</a></li>
		<li><a href="/about" class="pa3 no-underline db">About</a></li>
		<li><a href="/cpr-bls-acls-pals-lexington-kentucky" class="pa3 no-underline db">CPR Classes</a></li>
		<li><a href="/testimonials" class="pa3 no-underline db">Testimonials</a></li>
	</ul>
</nav>
