{{ define "main" }}

<div class="flex-m mhn3-m mb4 mw7 center pv3">

  <div class="ph3-m w-30-m order-last-m">
    <img src="/img/chris-noble-bowtie.jpg" alt="Chris Noble" class="db mb2">
  </div>

  <div class="ph3 w-70-m">
    <h3 class="f3 b lh-title mb2">About Noble Nurses</h3>
    <p>The desire to help people has always been a passion of mine for as long as I can remember.  I learned at an early age that education and knowledge are the keys to success.  God has blessed me with an innate conviction of always wanting to know more about every experience I encounter.  I believe this is where both my passion for helping others and my unquenchable thirst for knowledge merged.  I feel compelled to pay it forward in a way that feels most comfortable to me.  Why not let my blessings be used to bless others? To quote Maya Angelou, “I have learned that people will forget what you said, people will forget what you did, but people will never forget how you made them feel.” This simple statement has impacted my life in many profound ways.  After a few years of praying and soul searching for the right time and idea to present itself, Noble Nurses was born.</p>
    <p>I want to provide something completely different than all other professional education service companies provide. Something that you never hear about let alone experience. Efficiency and effectiveness are the foundations that Noble Nurses is built upon.  I understand how the fears and anxiety of professional education can plague us. For some of us, it can be crippling and devastating to our professional careers.  It became very evident that we, inclusively as health care professionals, are somehow missing the mark.  How do we overcome these obstacles in order to get to the next level?  Why do the things we devote our lives to cause us the most stress?  The answer is simple.  It is because we care.  The lack of continuing professional education can be the crux that prevents us from reaching our maximum potential. </p>
    <p>Professional education and growth should not be intimidating or punitive in any way.  It impedes our ability to really involve ourselves in our own development.  At Noble Nurses we strive to remove the intimidating and punitive factors of professional education in order to make it fun and interesting.  Active engagement is what you will find within all the programs and services that Noble Nurses offers.</p>
    <p>Do not let your busy schedule get in the way of your professional goals.  Let our concierge educational services work for you, not the other way around. Our services are designed to satisfy all of our customers anytime and anywhere. We are committed to customer satisfaction as our top priority.</p>
    <p>Noble Nurses is humbled to be able to offer you an avenue that will help you reach your professional goals through education and mentorship. If you want to learn more about how we can serve you please click the contact button below.</p>
    <p>Your professional education partner,</p>
    <p>Christopher Noble, MSN Admin/Ed., RN, CCRN, CEN, PCCN, VA-BC, CPPS<br>
      Owner/President<br>
      Noble Nurses, LLC</p>
  </div>

</div>


{{ end }}
