{{ define "main" }}

<div class="bg-off-white pv4">
  <div class="flex-m mhn3-m mw7 center">

    <div class="ph3-m w-30-m order-last-m">
      <img src="/img/chris-noble-bowtie.jpg" alt="Chris Noble in dark blue suit and red bowtie" class="db mb2">
    </div>

    <div class="ph3 w-70-m">
      <h2 class="f3 b lh-title mb2">About Noble Nurses</h2>
      <p>The desire to help people has always been a passion of mine for as long as I can remember. I learned at an early age that education and knowledge are the keys to success. God has blessed me with an abundance of curiosity to learn and grow from every experience I encounter. I believe this is where both my passion for helping others and my unquenchable thirst for knowledge merged. I feel compelled to pay it forward in a way that feels most comfortable to me. Why not let my blessings be used to bless others? To quote Maya Angelou, “I have learned that people will forget what you said, people will forget what you did, but people will never forget how you made them feel.” This simple statement has impacted my life in many profound ways. After a few years of praying and soul searching for the right time and idea to present itself, Noble Nurses was born.</p>
      <p>I want to provide something completely different from what other professional education companies offer. Something that you never hear about, let alone experience. Noble Nurses is built on the foundations of efficiency and effectiveness. I understand how the fears and anxiety of professional education can plague us. For some of us, it can be crippling and devastating to our professional careers. It became very evident that we, inclusively as health care professionals, are somehow missing the mark. How do we overcome these obstacles to get to the next level? Why do the things we devote our lives to cause us the most stress? The answer is simple. It is because we care. The lack of continuing professional education can be the crux that prevents us from reaching our maximum potential.</p>
      <p>Professional education and growth should not be intimidating or punitive in any way. It impedes our ability to involve ourselves in our personal and professional development. At Noble Nurses, we strive to remove the intimidating and punitive factors of professional education to make it fun and exciting. Active engagement is what you will find within all the programs and services that Noble Nurses offers.</p>
      <p>Do not let your busy schedule get in the way of your professional goals. Let our concierge educational services work for you, not the other way around. Our services are designed to satisfy every customer anytime and anywhere. We are committed to customer satisfaction.  Customer satisfaction and success are our top priorities!</p>
      <p>Noble Nurses is humbled to offer you an avenue that will help you reach your professional goals through education and mentorship. If you want to learn more about how we can serve you, please click the contact button below.</p>
      <p>Your professional education partner,</p>
      <p>Dr. Christopher Noble, DNP, MSN Admin/Ed., RN, CCRN, CEN, PCCN, VA-BC, CPPS<br>
        Owner/President<br>
        Noble Nurses, LLC</p>


    </div>

  </div>

  <div class="ph3 mw7 pb4 center">
    <div class="tc">
      <img src="/img/noble-nurses-logo-800x800.png"
        alt="Noble Nurses Logo. A round white circle with the words Noble Nurses Empowerment for Success. There is a single large letter N in script that is used for both Noble and Nurses."
        class="center db mb3" style="width: 200px">
      <a href="/contact" class="btn raise">Contact Noble Nurses</a>
    </div>
  </div>
</div>
{{ end }}