{{ define "main" }}

<div class="bg-off-white pv4">
    <div class="ph3 mw7 center">
        <h2 class="f3 b lh-title mb2">Additional Services</h2>
        <div class="mb4 mw7">
            <p>Noble Nurses offers the additional services listed below.</p>
            <p>If there is a service you would like to see provided that is not shown on our website, please <a href="/contact">contact us</a> to see if your needs can be accommodated.</p>

            <h3 class="f4 b pt4">Board Certification Review Courses</h3>
            <p>Noble Nurses, LLC offers an array of certification review courses to help you understand the many concepts that are covered with these certification examinations.  We can tailor these programs to your specific needs to aide you in your preparation to sit for these examinations.  Having a recognized national certification can open doors for you in your career.</p>
            <ul class="ph4 pb3" style="list-style-type: disc;">
                <li>Critical Care (CCRN) $200</li>
                <li>Progressive Care (PCCN) $200</li>
                <li>Emergency Nurse (CEN) $200</li>
                <li>Medical Surgical (MSRN) $200</li>
                <li>Vascular Access (VA-BC) $200</li>
                <li>Professional in Patient Safety (CPPS) $200</li>
            </ul>

            <h3 class="f4 b pt4">Professional Consulting</h3>
            <p>Frequently utilized by our customers, these services can be essential to success on many occasions. When it comes to all of our services, you can count on us to take care of your every need. We pride ourselves on exceptional customer service, and guarantee you’ll love working with our team. Let us know how we can assist you today.</p>
            <p>Prices for services below are per-hour billing.</p>
            <ul class="ph4 pb3" style="list-style-type: disc;">
                <li>Leadership Development</li>
                <li>CV/Resume Development/Review</li>
                <li>Philosophy Statement Development/Review</li>
                <li>Program Development/Review</li>
                <li>Gap Analysis Performance</li>
                <li>Project Management</li>
                <li>Vascular Access Placement Program (PICC)</li>
            </ul>

            <h3 class="f4 b pt4">Professional Education Services</h3>
            <p>It doesn't matter if you are considered a novice or expert, getting additional education can never hurt.  Cardiac telemetry and 12-Lead EKG review courses are the perfect choice for students that are enrolled in any medical program.  These courses compliment what students typically cover in their coursework.  The courses are provided with the highest level of excellence. We ensure all details are simple, seamless and handled in a timely manner.</p>
            <ul class="ph4 pb3" style="list-style-type: disc;">
                <li>Cardiac Telemetry Review $200</li>
                <li>12-Lead EKG Review $150</li>
                <li>Research Paper Review $7.50/page</li>
                <li>Phlebotomy Training $250</li>
                <li>NCLEX Review $200</li>
            </ul>

        </div>
    </div>
</div>



{{ end }}
