{{ define "main" }}

<div class="bg-off-white pv4">
  <div class="ph3 mw7 center">
    <h2 class="f3 b lh-title mb2">Additional Services</h2>
    <div class="mb4 mw7">
        <p>Noble Nurses offers the additional services listed below. And  </p>
        <p><a href="/contact">Contact us</a> if you have questions!</p>

If there's a service you would like to see provided that is not shown on our website, please contact us to see if your needs can be accommodated.

        <h3 class="f4 b">Board Certification Review Courses</h3>
        <p>We can cover one topic or many topics to help you achieve success when you sit for your certification examinations!</p>
        <ul>
          <li>Critical Care (CCRN) $200</li>
          <li>Progressive Care (PCCN) $200</li>
          <li>Emergency Nurse (CEN) $200</li>
          <li>Medical Surgical (MSRN) $200</li>
          <li>Vascular Access (VA-BC) $</li>
          <li>Professional in Patient Safety (CPPS) $200</li>
        </div>

      </div>
    </div>



{{ end }}
