{{ define "main" }}

<div class="bg-off-white pv4">
  <div class="ph3 mw7 center">
    <h2 class="f3 b lh-title mb2">American Heart Association Certification</h2>
    <div class="mb4 mw7">
        <p>AHA certification courses are our most popular services available. As medical professionals, we consider AHA the industry setting standard.</p>
        <p>Noble Nurses ensures you are trained efficiently and effectively by a credentialed professional that is certified as an AHA instructor.</p>
        <p>See below to find which AHA certification is right for you. All certifications we offer include CPR training.</p>
    </div>
    <div class="flex-ns flex-wrap mhn2-ns mb3">
        <div class="ph2-ns w-50-ns mb4">
          <div class="white f-subheadline-ns f2 b tc pa3 center" style="background-color: #1a9ad6;">BLS</div>
          <h3 class="f3 b lh-title tc">Basic Life Support</h3>
          <h4 class="f4 b tc mb1" style="color: #19A974">$75 Initial / $50 Renewal</h4>
          <p>AHA's BLS Course teaches participants to recognize life-threatening emergenices, administer chest compressions, deliver necessary ventilations, and use an AED.</p>
          <div class="tc">
            <a href="/schedule" class="btn raise">Schedule BLS</a>
          </div>
        </div>
        <div class="ph2-ns w-50-ns mb4">
          <div class="white f-subheadline-ns f2 b tc pa3 center" style="background-color: #ed2027;">ACLS</div>
          <h3 class="f3 b lh-title tc">Advanced Cardiac Life Support</h3>
          <h4 class="f4 b tc mb1" style="color: #19A974">$175 Initial / $125 Renewal</h4>
          <p>AHA's ACLS Course builds on the foundation of lifesaving BLS skills, emphasizing the importance of continuous, high-quality CPR, and high-performance team dynamics.</p>
          <div class="tc">
            <a href="/schedule" class="btn raise">Schedule ACLS</a>
          </div>
        </div>
        <div class="ph2-ns w-50-ns mb4">
          <div class="white f-subheadline-ns f2 b tc pa3 center" style="background-color: #812a8f;">PALS</div>
          <h3 class="f3 b lh-title tc">Pediatric Advanced Life Support</h3>
          <h4 class="f4 b tc mb1" style="color: #19A974">$175 Initial / $125 Renewal</h4>
          <p>AHA's PALS course uses videos and simulated pediatric emergencies to reinforce the important concepts of a systematic approach to pediatric assessment, basic life support, PALS treatment algorithms, effective resuscitation, and team dynamics.</p>
          <div class="tc">
            <a href="/schedule" class="btn raise">Schedule PALS</a>
          </div>
        </div>
        <div class="ph2-ns w-50-ns mb4">
          <div class="white f-subheadline-ns f2 b tc pa3 center" style="background-color: #812a8f;">PEARS</div>
          <h3 class="f3 b lh-title tc">Pediatric Emergency, Assessment, Recognition, & Stabilization</h3>
          <h4 class="f4 b tc mb1" style="color: #19A974">$175 Initial / $125 Renewal</h4>
          <p>AHA's PEARS course teaches providers who infrequently deal with pediatrics how to use a systematic approach to quickly assess, recognize the cause, and stabilize a pediatric patient in an emergency situation.</p>
          <div class="tc">
            <a href="/schedule" class="btn raise">Schedule PEARS</a>
          </div>
        </div>
        <div class="ph2-ns w-50-ns mb4">
          <div class="white f-1-ns f2 b tc pa3 center" style="background-color: #87d3f8;">Heartsaver</div>
          <h3 class="f3 b lh-title tc">Heartsaver First Aid CPR AED</h3>
          <h4 class="f4 b tc mb1" style="color: #19A974">$125 Initial / $100 Renewal</h4>
          <p>AHA's Heartsaver First Aid CPR AED course is for everyone, including those with no prior medical training. In this course you will learn to provide first aid, CPR, and use an automated external defibrillator (AED) in a safe, timely, and effective manner.</p>
          <div class="tc">
            <a href="/schedule" class="btn raise">Schedule Heartsaver</a>
          </div>
        </div>
    </div>
  </div>
</div>

<!--
<div style="background-color: #FFE4E1;">
  <div class="ph3 mw7 pv4 center">
    <h2 class="f3 b lh-title mb3">Which AHA Certification is Right for You?</h2>
    <div class="mb4 mw7">
      <div class="white f2 b tc pa3 mr2 mb1 fl cf" style="background-color: #1a9ad6; width: 200px;">BLS</div>
      <p>The Basic Life Support (BLS) course is instructor-led. It teaches both single-rescuer and team basic life support skills for application in both prehospital and in-facility environments, with a focus on High-Quality CPR and team dynamics.</p>
      <p></p>
      <p></p>
    </div>
  </div>
</div>
-->



{{ end }}
