{{ define "main" }}

<div class="bg-off-white pv4">
  <div class="ph3 mw7 center">
    <h2 class="f3 b lh-title mb2">American Red Cross Training</h2>
    <div class="mb5 mw7">
      <p>The American Red Cross offers training for individuals and teams, and courses that are held entirely in person,
        or through our blended Simulation Learning experience, which combines online classwork with in-person skills
        sessions. This way, you can learn on your schedule - and in the way that suits you best. Regardless of which
        type of course you choose, you'll receive instruction from world-class professionals, as well as science-based
        information that includes the latest protocols, so you can deliver care to those in need and help improve
        patient outcomes.</p>
      <p>Learning something new only works if it fits into your busy schedule. That's why we use the best methods to
        teach you the skills you need, when it's most convenient for you.</p>
    </div>
    <div class="flex-ns flex-wrap mhn2-ns mb3">
      <div class="mb5">
        <div class="white f3 b tc pa3 center flex items-center mw6"
          style="background-color: #6d6e70; min-height: 120px;"><img src="/img/red-cross-gray-background.png"
            class="pr3" style="width: 100px; height: 100px; float: left;" />Basic Life Support for Healthcare Providers
          (BLS)</div>
        <h4 class="f4 b tc mv3" style="color: #19A974">Instructor-Led or Blended Learning $80</h4>
        <p>American Red Cross Basic Life Support for Healthcare Providers (BLS) uses a scenario-based approach to
          develop the critical thinking and problem-solving skills that drive better patient outcomes. It is consistent
          with AHA Guidelines for CPR/ECC, and covers breathing and cardiac emergencies – including CPR, AED, and
          obstructed airway – for adult, child, and infant patients. Courses are delivered by expert instructors and
          give you the flexibility to complete part of your training online through our dynamic Simulation Learning
          experience, which combines online coursework with in-person skills sessions, so you can earn your American Red
          Cross BLS certification your way.</p>
        <p>Upon successful completion of this course you will receive a digital certificate for Basic Life Support for
          Healthcare Providers (BLS) that is valid for two years.</p>
        <div class="tc">
          <a href="/schedule" class="btn raise">Schedule BLS</a>
        </div>
      </div>
      <div class="mb5">
        <div class="white f3 b tc pa3 center flex items-center mw6"
          style="background-color: #6d6e70; min-height: 120px;"><img src="/img/red-cross-gray-background.png"
            class="pr3" style="width: 100px; height: 100px; float: left;" />First Aid/CPR/AED</div>
        <h4 class="f4 b tc mv3" style="color: #19A974">Instructor-Led $125 or Blended Learning $80</h4>
        <p>First Aid/CPR/AED training will prepare you to recognize and care for a variety of first aid, breathing, and
          cardiac emergencies involving adults, children, and infants. </p>
        <p>This course meets OSHA/workplace requirements.</p>
        <p>The class can be taught in two formats (100% Instructor-Led or Blended-Learning).</p>
        <p>Please note: Blended-Learning includes an online portion and an instructor-led classroom skill session. The
          online portion must be completed prior to attending the in-class portion and must be taken on a PC or tablet
          with a high-speed Internet connection.</p>
        <p>Upon successful completion of this course you will receive a digital certificate for Adult and Pediatric
          First Aid/CPR/AED that is valid for two years.</p>
        <div class="tc">
          <a href="/schedule" class="btn raise">Schedule First Aid/CPR/AED</a>
        </div>
      </div>
      <div class="mb5">
        <div class="white f3 b tc pa3 center flex items-center mw6"
          style="background-color: #6d6e70; min-height: 120px;"><img src="/img/red-cross-gray-background.png"
            class="pr3" style="width: 100px; height: 100px; float: left;" />Advanced Life Support (ALS)</div>
        <h4 class="f4 b tc mv3" style="color: #19A974">Instructor-Led or Blended Learning $235</h4>
        <p>Advanced Life Support courses are designed for professional healthcare providers who participate in the
          assessment and management of critical patients, including those working in in-hospital, pre-hospital, and
          out-of-hospital medical facilities. </p>
        <p>Throughout the ALS course, you will learn how to provide high-quality patient care by integrating rhythm
          interpretation, electrical interventions, and pharmacologic knowledge with critical thinking, problem-solving,
          and in-person psychomotor skills practice to achieve the best possible patient outcomes. In the ALS course,
          you will also learn advanced life support assessment, as well as how to best manage respiratory emergencies,
          and Advanced Cardiac Life Support (ACLS) protocols for acute arrhythmias, cardiac arrest (including
          post-cardiac arrest care), acute coronary syndromes and acute stroke within or outside of a medical facility
          setting.
        </p>
        <p>The only prerequisite for enrollment is that you must be proficient in Adult Basic Life Support (BLS) skills.
        </p>
        <div class="tc">
          <a href="/schedule" class="btn raise">Schedule ALS</a>
        </div>
      </div>
      <div class="mb5">
        <div class="white f3 b tc pa3 center flex items-center mw6"
          style="background-color: #6d6e70; min-height: 120px;"><img src="/img/red-cross-gray-background.png"
            class="pr3" style="width: 100px; height: 100px; float: left;" />Pediatric Advanced Life Support (PALS)</div>
        <h4 class="f4 b tc mv3" style="color: #19A974">Instructor-Led or Blended Learning $235</h4>
        <p>PALS courses are designed for professional healthcare providers who participate in the assessment and
          management of critical patients, including those working in in-hospital, pre-hospital, and out-of-hospital
          medical facilities.
        </p>
        <p>Throughout the PALS course, you will learn to assess, recognize and provide high-quality care to pediatric
          patients experiencing life-threatening medical emergencies, including shock, cardiac and respiratory events,
          as well as how to provide care after the return of spontaneous circulation (ROSC) during a resuscitation
          effort. In addition, our course will challenge your critical-thinking and problem-solving skills and help
          improve your teamwork skills to provide better patient care.</p>
        <p>The only prerequisite for enrollment is that you must be proficient in Pediatric Basic Life Support (BLS)
          skills.</p>
        <div class="tc">
          <a href="/schedule" class="btn raise">Schedule PALS</a>
        </div>
      </div>
      <div class="mb5">
        <h3 class="f4 b pt4">Would you like to become a certified American Red Cross Instructor?</h3>
        <p>Noble Nurses offers the following Instructor Training courses:</p>
        <ul class="ph4 pb3" style="list-style-type: disc;">
          <li>Basic Life Support-BLS ($350)
          </li>
          <li>Advanced Life Support-ALS ($475)</li>
          <li>Pediatric Advanced Life Support-PALS ($475)</li>
          <li>First Aid/CPR/AED ($350)</li>
        </ul>
        <p>If you are interested in becoming a certified American Red Cross Instructor, please <a href="contact">contact us</a>. Be sure to include the course or courses you are interested in
          becoming an instructor for. We will get in contact with you within 24 hours of your submission.</p>
      </div>



    </div>
  </div>

</div>










{{ end }}