{{ define "main" }}

<div class="ph3 bg-off-white">
	<div class="center mw6 pv3">

		<img src="/img/noble-nurses-logo-800x800.png" alt="Noble Nurses Logo. A round white circle with the words Noble Nurses Empowerment for Success. There is a single large letter N in script that is used for both Noble and Nurses." class="db w4 center pv4" style="width: 200px">


		<p>Noble Nurses, LLC is committed to exceeding your needs. Questions, comments or special requests? We’d love to hear from you, so don’t hesitate in reaching out today.  We will make every attempt to respond to your inquiries within 24 hours.</p>

		<div class="flex flex-column mb3">

			<div>
				<h4 class="f4 b lh-title mb2 primary">Phone</h4>
				<p>(859) 333-7754</p>
			</div>
				<div>
					<h4 class="f4 b lh-title mb2 primary">Email</h4>
					<p><a href="mailto:Chris.Noble@NobleNurses.net">Chris.Noble@NobleNurses.net</a></p>
				</div>
				<div>
					<h4 class="f4 b lh-title mb2 primary">Address</h4>
					<p>Noble Nurses, LLC<br>
						2692 Richmond Road, Suite 220<br>
						Lexington, KY 40509</p>
				</div>


		</div>

		{{ partial "contact-form" . }}

	</div>
</div>

{{ end }}
