{{ define "main" }}


<div class="bg-off-white pv4">
  <div class="ph3 mw7 center">
    <h2 class="f3 b lh-title mb2">Schedule of Certification Courses</h2>
    <div class="mb4 mw7">
      <p>Please use the form below to reserve an upcoming certification course with Noble Nurses.</p>
      <p>Need more information first? <a href="/contact">Contact us</a> with any questions about our course schedule.</p>


      <iframe src="https://app.acuityscheduling.com/schedule.php?owner=18496895" width="100%" height="800" frameBorder="0"></iframe><script src="https://embed.acuityscheduling.com/js/embed.js" type="text/javascript"></script>

    </div>
  </div>

</div>













{{ end }}
