{{ define "main" }}




<div class="flex-m mhn3-m mb2 mw7 center pv3">

  <div class="ph3-m w-50-m order-last-m">
    <img src="/img/snoopy-thank-you-card.jpg" alt="A photo of a greeting card on a desk. The card is light brown with Snoopy dancing and saying Thank You three times. The white envelope is addressed to Noble Nurses, LLC." class="db mb2">
  </div>

  <div class="ph3 w-50-m">
    <h2 class="f3 b lh-title mb2">Customer Testimonials</h2>
    <p>Noble Nurses is proud to have so many satisfied and repeat customers!</p>
    <p>We have listed below some of the nice things you have said to us after completing a class.<p>
    <p>We appreciate your business. Thank you for continuing to trust Noble Nurses with your educational needs!</p>
  </div>

</div>
        

        <div class="pb4">
          {{ range .Params.testimonials }}
            {{ partial "blockquote" . }}
          {{ end }}
        </div>
        


        



{{ end }}








